@import './menu.scss';

.main {
  @extend %style-shared;
  padding-top: 0;
  padding-left: 0;
  background-color: $main-color;
}
.main__header {
  position: fixed;
  @extend %header-shared;
  border-bottom: 1px solid $border-color;
  padding: 24px 16px;
  max-width: 320px;
  background-color: $main-color;
  z-index: 999;
}

.header-divider {
  border-left: 2px solid $divider-color;
  height: 32px;
}
h1 {
  margin: 0;
  height: 40px;
  width: 288px;
  border-left: 4px solid $border-color;
  padding-left: 16px;
  translate: -16px;
}
.main__content {
  margin-top: 77px;
  padding: 48px 16px 32px 16px;
}
.main__list {
  white-space: nowrap;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  width: 290px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main__list::-webkit-scrollbar {
  display: none;
}
li {
  padding: 16px 8px;
  border: 2px solid transparent;
  border-radius: 6px;
}
li:hover {
  border-color: $border-color;
}
.show-more {
  display: flex;
  align-items: center;
  padding: 16px 0;
}
.cps-logo {
  margin-left: -16px;
}
.rotate {
  transform: scaleY(-1);
}
.show-moreBtn {
  display: flex;
  align-items: center;
}
.text {
  color: $primary-color2;
  font-size: 14px;
}
h2 {
  font-size: 16px;
  color: $grey-color;
  padding-left: 16px;
}
.small-text {
  font-size: 12px;
  color: $primary-color2;
}
.main_bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: $main-color;
}
.agreement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  color: $primary-color2;
  font-weight: bold;
}
.footer-text {
  background-color: $main-color;
  font-size: 14px;
  color: $grey-color;
  font-weight: normal;
  text-align: center;
  padding: 16px;
  margin: 0;
}
h2 {
  border-top: 1px solid $header-color;
  background: $gradient-color;
  padding: 16px 16px;
  margin: 0;
}
