@import './font.scss';
@import './menu.scss';
@import './header.scss';
@import './main.scss';
@import './bottom-part.scss';
@import './swipers.scss';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: $primary-color;
  color: $primary-color2;
  font-family: 'TTLakes';
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: $main-color;
}
.hide {
  display: none;
}
.btn {
  background: none;
  border: none;
}
@media only screen and (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: row;
  }
}
