@use './menu.scss';

.swiper-logo {
  display: flex;
  width: 320px;
  min-height: 150px;
  margin-left: 30px;
  background-color: $main-color;
}
.swiper-logo__wrapper .swiper-logo__slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 72px;
  width: 240px;
  border: 1px solid #eaeaea;
  background-color: white;
}
.swiper-logo__wrapper .swiper-logo__slide:first-child {
  margin-left: 16px;
}
.swiper-logo__pagination {
  margin-bottom: 30px;
}
.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
}
.swiper-logo__slide img {
  max-width: 120px;
  max-height: 65px;
}
